<div class="container">
  <h1>Contact</h1>
  <ul class="social-media">
    <li><a href="mailto: yashshukla195@gmail.com" target="--blank"><i class='bx bxl-gmail'></i></a></li>
    <li><a href="https://www.linkedin.com/in/yash-shukla-0a7580173/" target="--blank"><i class='bx bxl-linkedin' ></i></a></li>
    <li><a href="https://www.instagram.com/vigil.98/" target="--blank"><i class='bx bxl-instagram' ></i></a></li>
  </ul>
  <ul class="contact-info">
    <li>Mobile: +917565824183</li>
    <li>yashshukla195@gmail.com</li>
  </ul>
</div>
